<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="index.css" />
        <title>Title</title>
    </head>
    <body>

        <header>
            <h1>About the Artist</h1>
        </header>
            <div class="blog-text">
            	<p>Annie is a watercolor artist based in Austin, Texas. She focuses on natural landscapes, organic images, and color concentration using natural pigments. She is available for commissions. </p>
            </div>
            

        <script src="Index.js"></script>
    </body>
</html>